<!doctype html>
<html class="no-js" {{site.language_attributes}}>
{% block html_head_container %}
  <head>
    {% include 'layout/head.twig' %}
    {% block head %}
    {% endblock %}
  </head>
{% endblock %}
  <body class="{{body_class}} sticky-footer sticky-footer--full-height" data-template="base.twig">

    <header id="header" class="l-header headroom">
      {% include 'layout/header.twig' %}
    </header>

    <div class="sticky-footer__content">
      <div class="l-hero">
        {% block hero %}
          {% embed 'layout/hero.twig' %}{% endembed %}
        {% endblock %}
      </div>

      <div role="document" class="container">
        <section id="content" role="main" class="l-content-wrapper fade-in is-animating">
        {% if password_required %}
          {% block password %}
            {% include 'parts/password.twig' %}
          {% endblock %}
        {% else %}
          {% block content %}
            {{__('Sorry, no content', 'theme')}}
          {% endblock %}
        {% endif %}
        </section>
      </div>

    </div>

    {% if sidebar_content_below %}
      <div class="l-siderbar-content-below container">
        <div class="row align-center">
          {{sidebar_content_below}}
        </div>
      </div>
    {% endif %}

    <footer id="footer" class="l-footer" role="contentinfo">
      <div class="container">
        {% include 'layout/footer.twig' %}
      </div>
    </footer>
    {{ function('wp_footer') }}
  </body>
</html>
