{% import 'macros/image.twig' as img %}
{% set object = post ? post : (term ? term : false) %}
{% set slides = object.get_field('hero_slide') %}
{% set force_crop = object.get_field('hero_crop') or (slides|length == 0) %}
{% set default_video_poster = 'data:image/gif;base64,R0lGODlhAQABAIAAAP7//wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==' %}

{%
  set sizes =  {
    desktop: [1400, 350],
    tablet:  [ 768, 300],
    mobile:  [ 400, 300],
    retina:  [ 800, 700],
  }
%}

{% if slides|length == 0 %}
  {% set slide_defaults = { slide_theme: 'cover', slide_type: 'image', slide_overlay: 'black', slide_title: object.name } %}
  {# Use featured image #}
  {% if post.get_thumbnail %}
    {% set slide = slide_defaults|merge({ slide_image: post.thumbnail }) %}

  {# Inherit from parents #}
  {% elseif object.parent() %}
    {% set parent = object.parent() %}
    {% set slide = parent.get_field('hero_slide')|first %}

    {% if slide %}
      {% set slide = slide|merge({ slide_title: object.name }) %}
      {% set force_crop = parent.get_field('hero_crop') %}
    {% elseif parent.get_thumbnail %}
      {% set slide = slide_defaults|merge({ slide_image: parent.thumbnail }) %}
    {% endif %}
  {% endif %}

  {# Use fallback image #}
  {% if not slide and options.hero_default_image %}
     {% set slide = slide_defaults|merge({ slide_image: options.hero_default_image }) %}
  {% endif %}

  {% set slides = slide ? [slide] : [] %}
{% endif %}

{% if slides|length %}
  <div
    class="slick slick--hero slick--adaptive-height"
    data-slick='{"dots":true, "arrows":false, "adaptiveHeight":true}'
    role="region"
  >
    {% for slide in slides %}
      {% set video = slide.slide_type == 'video' and slide.slide_video ? TimberImage(slide.slide_video) %}
      {% set image = slide.slide_type == 'image' and slide.slide_image ? TimberImage(slide.slide_image) %}

      <div
        class="slick__slide {{loop.first ? 'is-active'}} slick__slide--{{slide.slide_theme}} overlay overlay--{{slide.slide_overlay}} is-animating fade-in short-delay"
        id="slick-slide-{{loop.index}}"
        style="opacity: 0; {{loop.first ?: 'display: none;'}}"
      >
        {% if slide.slide_link %}
          <a
            class="slick__link"
            href="{{slide.slide_link}}"
            data-category="Hero"
            data-action="Click Link"
            data-label="{{slide.slide_title}}"
          >
        {% endif %}

        {% if video.src %}
          <div class="slick__image">
            <div class="responsive-embed">
              <video width="{{slide.slide_video_width}}" height="{{slide.slide_video_height}}" autoplay poster="{{default_video_poster}}">
                <source src="{{video.src}}" type="{{video.post_mime_type}}">
              </video>
            </div>
            <style>
              #slick-slide-{{loop.index}} .responsive-embed { padding-bottom: {{ slide.slide_video_height / slide.slide_video_width * 100 }}%; }
            </style>
          </div>
        {% elseif image.src %}
          {% set image_src = image.src|tojpg %}
          {% set is_smartcrop = image._wpsmartcrop_enabled and force_crop %}

          {% set image_desktop = force_crop and (not is_smartcrop) ? image_src|resize(sizes.desktop[0], sizes.desktop[1], 'center') : image_src|resize(sizes.desktop[0]) %}
          {% set image_tablet  = force_crop and (not is_smartcrop) ? image_src|resize(sizes.tablet[0],  sizes.tablet[1], 'center')  : image_src|resize(sizes.tablet[0]) %}
          {% set image_mobile  = force_crop and (not is_smartcrop) ? image_src|resize(sizes.mobile[0],  sizes.mobile[1], 'center')  : image_src|resize(sizes.mobile[0], sizes.mobile[1], 'center') %}
          {% set image_retina  = force_crop and (not is_smartcrop) ? image_src|resize(sizes.retina[0],  sizes.retina[1], 'center')  : image_src|resize(sizes.retina[0], sizes.retina[1], 'center') %}

          <picture class="slick__image {{is_smartcrop? 'smartcrop__container'}}">
            <source srcset="{{image_desktop}}" media="(min-width: 1000px)" />
            <source srcset="{{image_tablet}}" media="(min-width: 700px)" />
            <img
              {% if is_smartcrop %}{{img.smartcrop_attributes(image)}}{% endif %}
              srcset="
                {{image_mobile}} 1x,
                {{image_retina}} 2x
              " />
          </picture>

          {# If we're cropping, set the ratio on page load to prevent FOUC #}
          {% if force_crop %}
            <style>
              #slick-slide-{{loop.index}} .slick__image { height: 0; display: block; overflow: hidden; }
              #slick-slide-{{loop.index}} .slick__image { padding-bottom: {{ sizes.mobile[1] / sizes.mobile[0] * 100 }}%; }
              @media screen and (min-width: 700px) {
                #slick-slide-{{loop.index}} .slick__image { padding-bottom: {{ sizes.tablet[1] / sizes.tablet[0] * 100 }}%; }
              }
              @media screen and (min-width: 1000px) {
                #slick-slide-{{loop.index}} .slick__image { padding-bottom: {{ sizes.desktop[1] / sizes.desktop[0] * 100 }}%; }
              }
            </style>
          {% endif %}
        {% endif %}

        {% if slide.slide_title or slide.slide_content %}
          <figcaption class="slick__caption" style="display:none;">
            <div class="slick__caption-wrapper overlay__foreground">

              {% block slide__title %}
                <div class="slick__caption-title">
                  {% if slide.slide_title %}
                    <h3 class="fade-in-down is-animating short-delay h1">{{slide.slide_title}}</h3>
                  {% endif %}
                </div>
              {% endblock %}

              <div class="slick__caption-content">
                <div class="fade-in is-animating long-delay">
                  {% block slide__content %}
                    {{slide.slide_content}}
                  {% endblock %}
                </div>
              </div>

            </div>
          </figcaption>
        {% endif %}

        {% if slide.slide_link %}</a>{% endif %}
      </div>
    {% endfor %}
  </div>
{% endif %}
