{% macro image_thumbnail(thumbnail, size) %}
  {# Specify the dimensions manually so we can upscale #}
  {% set dimensions = get_image_size(size) %}

  {% import _self as image %}
  {{ image.image(thumbnail, [dimensions.width, dimensions.height], dimensions.crop) }}
{% endmacro %}

{# Output an image tag #}
{% macro image(thumbnail, dimensions, crop, is_smartcrop) %}
  {% import _self as image %}

  {% set thumbnail = (not thumbnail.src) ? TimberImage(thumbnail) : thumbnail %}

  {% if thumbnail.src %}
    {% set img          = thumbnail.src|tojpg %}
    {% set width        = dimensions[0] %}
    {% set height       = dimensions[1] %}
    {% set is_crop      = crop      is not null ? crop      : global_img_crop %}
    {% set is_smartcrop = smartcrop is not null ? smartcrop : ((thumbnail._wpsmartcrop_enabled) and (width) and (height)) %}
    {% set is_lazyload  = lazyload  is not null ? lazyload  : global_img_lazyload %}

    {# Smarcrop plugin support #}
    {% if (is_smartcrop) %}
      {% set img_1x = img|resize(width) %}
      {% set img_2x = img|resize(width * 2) %}
    {# User defined a size #}
    {% elseif (width or height) %}
      {% set img_1x = img|resize(width, height, is_crop) %}
      {% set img_2x = img|resize(width ? (width * 2), height ? (height * 2), is_crop) %}
    {# Output image as is. #}
    {% else %}
      {% set img_1x = img %}
    {% endif %}

    {% set img_resized = TimberImage(img_1x) %}
    {% set img_resized = img_resized|obj_merge({'file_loc': img_resized.file_loc|replace({'web/wp/app': 'web/app'})}) %}
    {% set img_resized = img_resized|obj_merge({'file': img_resized.file_loc|replace({'web/wp/app': 'web/app'})}) %}

    {% if (not is_smartcrop) %}
      {% set width = img_resized.width %}
      {% set height = img_resized.height %}
    {% endif %}

    {% if (img_resized.width and img_resized.height) %}
      {% set img_05x = img_1x|resize(img_resized.width/2) %}
      {% set srcset = [
        img_05x ~ ' ' ~ (img_resized.width/2)|round ~'w',
        img_1x ~ ' ' ~ img_resized.width ~'w',
        img_2x ? img_2x ~ ' ' ~ (img_resized.width*2) ~'w',
      ] %}
      <div class="responsive-embed responsive-embed--nomargin" style="padding-bottom:{{ (height/width) * 100 }}%;">
        {{image.tag(thumbnail, {
          'width': img_resized.width,
          'height': img_resized.height,
          'smartcrop': is_smartcrop,
          'lazyload': is_lazyload,
          'srcset': srcset|filter|join(', '),
        })}}
      </div>
    {% else %}
      <img data-twig-error="no image dimensions detected" />
    {% endif %}

  {# Prevent those annoying OOM and MySQL crashes when the source doesn't exist. #}
  {% else %}
    <img data-twig-error="no image source attribute" />
  {% endif %}
{% endmacro %}

{# Print an image tag #}
{% macro tag(thumbnail, options) %}
  {% import _self as image %}
  <img
    alt="{{options.alt|default(thumbnail._wp_attachment_image_alt)|default(thumbnail.title)|default(wp_title)}}"
    title="{{options.title|default(thumbnail.title)}}"
    class="{{options.smartcrop ? 'smartcrop '}}{{options.lazyload ? 'lazyload '}}{{options.class}}"
    {% if options.width %}width="{{options.width}}"{% endif %}
    {% if options.height %}height="{{options.height}}"{% endif %}
    {# Lazyload #}
    {% if options.lazyload %}
      src="{{options.placeholder?:'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=='}}"
      {# Retina takes priority #}
      {% if options.srcset %}
        data-srcset="{{options.srcset}}"
      {# Regular non-retina #}
      {% elseif options.src %}
        data-src="{{options.src}}"
      {% endif %}
      data-sizes="{{options.sizes?:'auto'}}"
    {# Regular, not lazyloaded #}
    {% else %}
      {% if options.srcset %}
        srcset="{{options.srcset}}"
      {% elseif options.src %}
        src="{{options.src}}"
      {% endif %}
      {% if options.sizes %}sizes="{{options.sizes}}"{% endif %}
    {% endif %}
    {# Smartcrop #}
    {% if options.smartcrop %}
      {% set focus = fn('unserialize', thumbnail._wpsmartcrop_image_focus) %}
      style="object-position: {{focus.left|round(2)}}% {{focus.top|round(2)}}%;"
    {% endif %}
  />
  {% if options.lazyload %}
    <noscript>{{image.tag(thumbnail, options|merge({'lazyload': false}))}}</noscript>
  {% endif %}
{% endmacro %}

{% macro placeholder(dimensions) %}
  {% set width = dimensions[0]|default(400) %}
  {% set height = dimensions[1]|default(width / 1.5)|round %}

  <img
    width="{{width}}"
    height="{{height}}"
    srcset="
      https://placehold.it/{{width}}x{{height}},
      https://placehold.it/{{width*2}}x{{height*2}} 2x
    "
  >
{% endmacro %}
