{% set id = loop ? loop.index : (section.widget_id ? section.widget_id) %}
{% set section_attributes  = id ? 'id="section--'~id~'"' %}

{# @see https://support.advancedcustomfields.com/forums/topic/problems-with-the-new-clone-field/ #}
{% set section = section|merge(section.section__clone     |default({})) %}
{% set section = section|merge(section.section__title     |default({})) %}
{% set section = section|merge(section.section__background|default({})) %}
{% set section = section|merge(section.section__readmore  |default({})) %}
{% set section = section|merge(section.section__grid      |default({})) %}

{%
  set section_classes = [
    'section', section_template ?: section.acf_fc_layout,
    'column', section.grid_active ? section.grid_column.classes|join(' ') : 'small-12',
  ]
%}
{%
  set content_wrapper_classes = [
    'section__content-wrapper',
    section.background_type == 'color' ? 'u-bg--'~section.background_color,
    section.background_type == 'image' ? 'overlay',
    section.background_type == 'image' and section.background_overlay ? 'overlay--'~section.background_overlay,
  ]
%}
{%
  set overlay_foreground_classes = [
    section.background_type == 'image' and section.background_overlay ? 'overlay__foreground'
  ]
%}

{# Background image #}
{% if section.background_type == 'image' and section.background_image %}
  {% set image = TimberImage(section.background_image) %}
  {% set content_wrapper_attributes = ' style="background-image: url(\''~image.src|resize(1200)|tojpg~'\')"' %}
{% endif %}

{# Title link #}
{% if section.title_text and section.title_link %}
  {% set section = section|merge({'title_text': '<a href="'~section.title_link_url~'">'~section.title_text~'</a>'}) %}
{% endif %}

{# @note: all variables defiend above are available in extending templates. #}
{% block section %}
  <div class="{{section_classes|join(' ')}}" {{section_attributes}}>
    <div class="{{content_wrapper_classes|join(' ')}}" {{content_wrapper_attributes}}>
      <div class="{{overlay_foreground_classes|join(' ')}}">
        {% block section__header %}
          {% if section.title_text %}
            <h2 class="section__title">{{section.title_text}}</h2>
          {% endif %}
        {% endblock %}
        {% block section__content %}
          {% if section.section__content %}
            <div class="section__content">{{section.section__content|shortcodes}}</div>
          {% endif %}
        {% endblock %}
        {% block section__footer %}
          {% if section.readmore_active and section.readmore_button  %}
            <div class="section__readmore">
              <a href="{{section.readmore_button.url}}" class="section__readmore_link button">{{section.readmore_button.text}}</a>
            </div>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
