<div class="row">
  <form method="get" class="column" id="search-form" action="{{site.url}}/" role="search">
    <div class="input-group">
      <label for="s" class="show-for-sr">{{__('Search', 'theme')}}</label>
      <input type="text" class="input-group-field" name="s" value="{{fn('get_search_query')}}" id="s" placeholder="{{__('Search &hellip;', 'theme')}}" />
      <div class="input-group-button">
        <input type="submit" class="submit button" name="submit" id="searchsubmit" value="{{__('Search', 'theme')}}" />
      </div>
    </div>
  </form>
</div>
